:root{
    --bg-color: #A52A2A;
    --font-family: "Catamaran";
    --font-size: medium;
    --line-height: 11%;
    --letter-spacing: 12px;
    --color: #000;
}

.linha{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: var(--bg-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: xx-small;
    letter-spacing: var(--letter-spacing);
    font-weight: 200;
}

.container-imagens{
    padding: 0 2%;
    display: flex;
    column-gap: 12px;
    width: 100%;
    justify-content: space-between;
}

.imagem img{
    width: 100%;
    height: auto;
}

.grid-imagem{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.empresas{
    background-color: var(--bg-color);
    height: 500px;
    margin: 5% 0;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; */
    text-align: center;
    margin-bottom: 50px;
}

.texto{
    color: white;
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    text-align: center;
    font-size: xx-small;
    padding: 3% 0;
}

.logo-empresas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 90px;
    /* width: 90%; */
    padding: 2%;
    align-items: center;
}

.coluna-cima{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center; 
    justify-items: center;
    width: 100%;
    column-gap: 15px;
}

.coluna-cima img{
    width: 100%;
}

.coluna-baixo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    column-gap: 10px;
}

.coluna-baixo img{
    width: 80%;
}

.linhaObj h2{
    text-align: center;
    align-items: center;
    padding: 2%;
    color: white;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 500;
    background-color: var(--bg-color);
    letter-spacing: var(--letter-spacing);
}

.comunidade{
    height: 350px;
}

.comunidade h3{
    font-family: var(--font-family);
    font-weight: 300;
    letter-spacing: 5px;
    font-size: medium;
    color: var(--color);
    text-align: justify;
}

.icones-dir{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 3%;
    justify-items: center;
}

.icones-esq{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 3%;
    justify-items: center;
}

.tituloBloco{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 8%;
    text-align: center;
}

.tituloBloco h2{
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: 5px;
    font-size: medium;
    color: var(--color);
    text-align: center;
    text-decoration: solid;
}

.bloco{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
    height: 500px;
}

.enderecos{
    background-color: #FA8072;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.enderecos h2{
    font-family: var(--font-family);
    font-size: medium;
}

.formContato{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.blocoFormulario{
    width: 200px;
    height: 350px;
    background-color: #9c9a9a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blocoFormulario label{
    font-family: var(--font-family);
    font-size: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.blocoFormulario input{
    border: 1px solid #000;
    border-radius: 12px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 2%;
    height: 30px;
    width: 180px;
    
}

.blocoFormulario input[name="corpoTexto"]{
    height: 80px;
}

.blocoFormulario [type="submit"]{
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    width: 60px;
}



@media (min-width: 550px){
    .empresas{
        margin: 5% 0;
        height: 600px;
    }
}

@media (min-width: 715px){
    .empresas{
        margin: 5% 0;
        height: 700px;
    }
}

@media (min-width: 900px) {
    .linha{
        height: 50px;
        font-size: x-large;
        letter-spacing: 25px;
    }
    .container-imagens{
        padding: 0 2px;
        display: flex;
        column-gap: 12px;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    #maior img{
        width: 400px;
    }
    .imagem img{
        width: 280px;
        height: auto;
    }
    .grid-imagem{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    .empresas{
        margin: 5% 0;
        height: 1000px;
    }
    .logo-empresas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 12px;
    }
    .coluna-cima, .coluna-baixo {
        flex-direction: row;
        gap: 30px;
    }
    
    .coluna-cima img, .coluna-baixo img {
        max-width: 300px;
    }

    .coluna-baixo{
        padding: 0 10%;
    }

    .linhaObj h2{
        font-size: x-large;
        font-weight: 600;
    }

    .comunidade{
        height: 500px;
    }

    .comunidade i{
        font-size: 35px;
    }

    .comunidade h3{
        font-weight: 500;
        font-size: x-large;
    }
}